<?xml version="1.0"?>
<!-- robot_ros2_control.xacro -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robo2_robot">
    <ros2_control type="system" name="RobotSystem">
        <xacro:if value="$(arg is_ignition)">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>
        <xacro:unless value="$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>
        
        <!-- SOLO las juntas principales que controlas directamente -->
        <joint name="base_to_base">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        
        <joint name="base_to_arm">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        
        <joint name="base_to_arm2">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        
        <joint name="gripper_finger_right">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>